.login-Signup{
    width: 100%;
    height: 90%;
    background: #e3f6fe;
    padding: 50px;
}

.login-Signup-container{
    width: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.login-Signup-container h1{
    margin-top: 20px 0px;
}

.login-Signup-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.login-Signup-fields input{
    height: 70px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.login-Signup-container button{
    width: 460px;
    height: 60px;
    color: white;
    background: var(--primary-color);
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.login-Signup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.login-Signup-login span{
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.login-Signup-agree{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}

@media(max-width: 1280px){

    .login-Signup-container h1{
        margin: 10px 0px;
    }
    .login-Signup-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .login-Signup-fields input{
        height: 50px;
        width: 90%;
    }
    .login-Signup-container button{
        width: 91%;
    }
    .login-Signup-login{
        font-size: 16px;
    }
    .login-Signup-agree input{
        margin-top: -28px;
    }
}

@media(max-width: 1024px){

    .login-Signup-container{
        width: 500px;
    }
    
    .login-Signup-container h1{
        font-size: 24px;
    }
    .login-Signup-fields{
        margin-top: 20px;
    }
    .login-Signup-fields input{
        height: 40px;
    }
    .login-Signup-container button{
        width: 90%;
        height: 50px;
        font-size: 16x;
    }
    .login-Signup-agree p{
        font-size: 16px;
    }
    .login-Signup-agree input{
        margin-top: -25px;
    }

}

@media(max-width: 800px){

    .login-Signup-container{
        width: 400px;
        padding: 20px 40px;
    }
    .login-Signup-container h1{
        font-size: 24px;
    }
    .login-Signup-fields{
        gap: 15px;
        margin-top: 20px;
    }
    .login-Signup-fields input{
        height: 40px;
    }
    .login-Signup-container button{
        height: 40px;
        font-size: 16x;
    }
    .login-Signup-login {
        font-size: 14px;
    }
    .login-Signup-agree p{
        font-size: 14px;
    }

}

@media(max-width: 500px){

    .login-Signup-container{
        width: 320px;
        height: auto;
    }
    .login-Signup-container h1{
        font-size: 16px;
    }
    .login-Signup-fields input{
        height: 30px;
        font-size: 16px;
    }
    .login-Signup-container button{
        height: 30px;
        font-size: 18px;
    }
    .login-Signup-login {
        font-size: 12px;
    }
    .login-Signup-agree p{
        font-size: 12px;
    }
    .login-Signup-agree input{
        margin-top: -15px;
    }
}

@media(max-width: 400px){

    .login-Signup-container{
        width: auto;
        height: auto;
    }
    .login-Signup-container h1{
        font-size: 14px;
    }
    .login-Signup-fields{
        margin-top: 14px;
    }
    .login-Signup-fields input{
        height: 30px;
        font-size: 14px;
    }
    .login-Signup-login {
        font-size: 10px;
    }
    .login-Signup-agree p{
        font-size: 10px;
    }
    .login-Signup-agree input{
        margin-top: -15px;
    }

}